// 写一些混合复用的代码 scss 语法
@mixin flex($hov:space-between , $col:center) {
    display: flex;
    justify-content: $hov;
    align-items: $col;
}
@mixin backGroundImg($width: 0px, $height : 0px, $url:'') {
    display: inline-block;
    width: $width;
    height: $height;
    background: url($url) ;
    background-repeat: no-repeat;
    background-size: contain;
} 
@mixin posBackGroundImg($position:absolute, $top : 0px , $right:0px, $height : 0px , $width: 0px , $url:'') {
    display: inline-block;
    position:$position ;
    width: $width;
    height: $height;
    background: url($url) ;
    top: $top;
    right: $right;
    background-repeat: no-repeat;
    background-size: contain;
} 
@mixin position($pos:absolute,$top:0px ,$left:0px, $height:100%, $width:100% ) {
    position: $pos;
    top:$top;
    left:$left;
    height: $height;
    width: $width;
}